[supervisord]
logfile={{ log_folder }}/supervisord.log
pidfile={{ pidfile }}
logfile_maxbytes=50MB
logfile_backups=10
loglevel=info
childlogdir={{ log_folder }}
directory={{ target }}

[unix_http_server]
file = {{ var_folder }}/supervisord.sock
username =
password =
chmod = 0700

[supervisorctl]
serverurl = unix://{{ var_folder }}/supervisord.sock
username =
password =

[rpcinterface:supervisor]
supervisor.rpcinterface_factory=supervisor.rpcinterface:make_main_rpcinterface

[include]
files = {{ included_files }}
