%define INSTANCE {{ tmp_folder }}

<zeo>
  address {{ address }}
  read-only false
  invalidation-queue-size 100
  pid-filename {{ pidfile }}
</zeo>

<filestorage 1>
  path {{ path }}
  blob-dir {{ blob_dir }}
</filestorage>

<eventlog>
  level info
  <logfile>
    path {{ log_path }}
    format %(asctime)s %(message)s
  </logfile>
</eventlog>
