#!{{ python }}

import plone.recipe.zope2instance.ctl
import sys

if __name__ == "__main__":
    sys.exit(
        plone.recipe.zope2instance.ctl.main(
            [
                "-C",
                "{{ zope_conf_path }}",
                "-p",
                "{{ interpreter_path }}",
                "-w",
                "{{ wsgi_ini_path }}",
            ]
            + sys.argv[1:]
        )
    )
