---
plonex_version: {{ plonex_version }}
plone_version: {{ plone_version }}
log_level: info
# supervisor_graceful_interval: 1.0
# default_actions:
#   - supervisor start
#   - zeoclient fg
# sources_update_before_dependencies: true
# sources:
#   plone.reload:
#     repo: https://github.com/plone/plone.reload
#     rev: master
#   If no rev is specified, it defaults to main,
#   which is the default branch for most repositories.
#   You can also specify a different branch or a specific commit hash.
#   plone.restapi:
#     repo: git@github.com:plone/plone.restapi.git
environment_vars:
    PYTHONWARNINGS: ignore:::pkg_resources
services:
    - template:
        run_for: supervisor
        source_path: resource://plonex.supervisor.templates:program.conf.j2
        target_path: "{{ '{{ target }}' }}/tmp/supervisor/etc/supervisor/zeoserver.conf"
        options:
            program: zeoserver
            command: plonex zeoserver
            process_name: zeoserver
            directory: "{{ '{{ target }}' }}"
            priority: 1
    - template:
        run_for: supervisor
        source_path: resource://plonex.supervisor.templates:program.conf.j2
        target_path: "{{ '{{ target }}' }}/tmp/supervisor/etc/supervisor/zeoclient.conf"
        options:
            program: zeoclient
            command: plonex zeoclient
            process_name: zeoclient
            directory: "{{ '{{ target }}' }}"
            priority: 2
