%define INSTANCE {{ options.tmp_folder }}

<zeo>
  address {{ options.address }}
  read-only false
  invalidation-queue-size 100
  pid-filename {{ options.pidfile }}
</zeo>

<filestorage 1>
  path {{ options.path }}
  blob-dir {{ options.blob_dir }}
</filestorage>

<eventlog>
  level info
  <logfile>
    path {{ options.log_path }}
    format %(asctime)s %(message)s
  </logfile>
</eventlog>
